/* Add font Kraskario and Larke Sans*/

@font-face {
    font-family: 'krkaregular';
    src: url('fonts/kraskario-webfont.woff2') format('woff2'),
         url('fonts/kraskario-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'larke_sans_boldregular';
    src: url('fonts/larke_sans/larke_sans_bold-webfont.woff2') format('woff2'),
         url('fonts/larke_sans/larke_sans_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* Change font to Kraskario if available */

body {
  font-family: 'krksaregular', Arial, sans-serif;
  font-size: 45 px;
}

/* Add a black background color to the top navigation and style the links */

.topnav {
  background-color: rgba(51, 51, 51, 0.7);
  overflow: hidden;
  height: 50px;
  width: 100%;
  z-index: 1;
}

.topnav a {
  display: inline-block;
  color: #FFF!important;
  text-align: center;
  padding-top: 1.2%;
  padding-bottom: 1%;
  padding-right: 5%;
  padding-left: 0%;
  text-decoration: none;
  font-size: 1em;
  font-weight: 300;
}

/* Separate the navbar into a left and right section */

.leftjustify {
  float: left;
}

.rightjustify {
  float: right;
}

/* Change the color of links on hover */
.topnav a:hover {
  color: black!important;
}

.logo {
  font-size: 2.2em!important;
  font-family: larke_sans_boldregular, Arial, sans-serif;
  float:left!important;
  padding-top: 0.5%!important;
  padding-bottom: 0.5%!important;
  padding-right: 5%!important;
  padding-left: 5%!important;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Modify the home page image */

.mainhomepageimage {
  display: block;
  padding-top: 8%;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

/* Create two unequal columns that floats next to each other */
.column {
  float: left;
  padding: 1%;
}

.left {
  padding-left: 15%;
  width: 50%;
} 

.right {
  width: 20%;
}

/* Introduces a small amount of space before main text */
.main:before {
  padding-top: 20%;
}

/* Clear floats after the columns */
.main:after {
  content: "";
  display: table;
  clear: both;
}

/* Modify link colors so that they're orange and pop-out */
.orangelink {
  color: rgba(51, 51, 51);
}
.orangelink:hover {
  color: rgba(0,0,0);
}

.orangelink:visited {
  color: purple;
}

/* Add a card effect for articles */
.card {
   padding-top: 5%;
   padding-bottom: 1%;
   border-bottom: 1px solid black;
}

.contactinfo {
  padding-top: 1%;
  font-size: .9em;
}

/* Change the main body to the same width as the rest of the page */
.mainbody {
  width: 70%;
  padding-left: 15% ;
}

/* Change columns to 100% when below 800 px */
@media only screen and (max-width: 800px) {
  .column {
    width: 80%;
    padding: 10%;
  }
}

/* Change the homepageimages to fit their div containers */
.homepageimages {
  max-width: 100%;
  max-height: 100%;
}